.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  height: 100vh;
  margin: 0;
  padding: 5em;
  color: aliceblue;
  background-color: rgb(68, 51, 83);
  align-items: center;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details {
  margin: 1em;
}

h4 {
  font-weight: 500;
  margin-top: 1em;
}

input {
  width: 20vw;
  height: 5vh;
  display: flex;
  outline: none;
  font-size: 1.2em;
  background-color: rgb(226, 221, 221);
  border: none;
  margin-top: .5em;
  padding: .2em 1em;
}

label {
  margin-right: 5vw;
  font-size: 1.2em;
  color: rgb(180, 214, 243);
}

button {
  width: 20vw;
  height: 6vh;
  font-size: 1.2em;
  background-color: rgb(243, 76, 76);
  color: rgb(207, 226, 220);
  border: none;
  cursor: pointer;
  border-radius: .5em;
}